@{
    ViewData["Title"] = "Home Page";

    bool isValidated = TempData["IsValidated"] != null && (bool)TempData["IsValidated"];
    string message = TempData["Message"] != null ? (string)TempData["Message"] : "Not Authenticated!";
    string userName = TempData["UserName"] != null ? (string)TempData["UserName"] : "Not a User!";
}

@if (isValidated)
{
    <div class="text-center">
        <h4 class="display-4">Welcome to Multitenant Database_Per_Tenant Site! @userName</h4>
    </div>
    <div class="text-center">
        @Html.Partial("LoggedIn")
    </div>
}
else
{
    <h1 class="display-4">@message</h1>
}
