@{
    ViewData["Title"] = "Home Page";
    bool isValidated = TempData["IsValidated"] != null && (bool)TempData["IsValidated"];
    string message = TempData["Message"] != null ? (string)TempData["Message"] : "Not Authenticated!";
}

@if (isValidated)
{

    <div class="text-center">
        <h1 class="display-4">Welcome to SSO Site!</h1>
    </div>
    <div class="text-center">
        @Html.Partial("LoggedIn")
    </div>
}
else
{
    <h1 class="display-4">@message</h1>
}
