@*
    Automatic Encoding:
    Razor views automatically HTML-encode any data that is output.
*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h1>@Html.Raw(Html.Encode(ViewData["Input"]))</h1>
    </div>
</div>